* {
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

section {
	min-height: 100vh;
	display: grid;
	place-content: center;
	background-image: url("https://images.pexels.com/photos/1249525/pexels-photo-1249525.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
}

button {
	border-radius: 50px;
	height: 50px;
	background-color: rgba(11, 22, 19, 0.061);
	shape-outside: none;
	margin-top: 50px;
    font-size: 3rem;
}
title{
    text-align: center;
}
.btn:hover{
    cursor:pointer;
    background-color: transparent;
    color:tomato;
    font-size: large;
    margin-top: 1em;
    margin-bottom: 2.5em;
} 

/* footer{} */
